<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'details')}">
<body>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">

            <div class="row py-3">
                <h2>Details of Static Analysis Run #1234</h2>
            </div>

            <div class="row py-3">

                <div class="col">
                    <div class="card card-marg-bot">
                        <div data-role="page" class="card-body">
                            <h3 class="card-title">
                                Category Distribution
                                <i class="fa fa-bar-chart icon-right fa-2x" aria-hidden="true"></i>
                            </h3>

                            <div class="graph-size">
                                <canvas id="categories-chart" class="graph-cursor-pointer" width="250"
                                        height="250"></canvas>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-marg-bot">
                        <div data-role="page" class="card-body">
                            <h3 class="card-title">
                                Types Distribution
                                <i class="fa fa-bar-chart icon-right fa-2x" aria-hidden="true"></i>
                            </h3>

                            <div class="graph-size">
                                <canvas id="types-chart" class="graph-cursor-pointer" width="250" height="250"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

            <script src="/js/details.js"></script>
        </div>
    </div>
</div>

</body>
</html>
