<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="logo">
                <img src="/images/logo.png">
            </a>
            <h1>Static Analysis Dashboard</h1>
            <p>This dashboard visualizes results of various static code analysis tools - it understands the result
                files of almost 100 different static code analysis tools.
            </p>
            <a type="button" class="btn btn-lg" href="/upload">
                <span class="fa fa-cloud-upload"></span> Upload Report...
            </a>
            <a type="button" class="btn btn-lg btn-default" href="/issues">
                <span class="fa fa-search"></span> View Reports...
            </a>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            For details on how to use the static analysis model please refer to the
            <a href="https://github.com/jenkinsci/analysis-model" class="alert-link">Analysis Model GitHub page</a>.
        </div>
    </div>

</body>
</html>
