<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'upload')}">
<body>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">

            <div class="row py-3">
                <h2>Upload a new static analysis report</h2>
            </div>

            <div class="row py-3">

                <form method="POST" action="/issues" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="file">Report file</label>
                        <div class="custom-file">
                            <input id="file" type="file" class="custom-file-input" name="file">
                            <label for="file" class="custom-file-label">Choose report file...</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reference">Build Number</label>
                        <input id="reference" class="form-control" min="1" type="number" name="reference" value="1">
                    </div>
                    <div class="form-group">
                        <label for="tool">Static Analysis Tool Format</label>
                        <select class="custom-select custom-select" name="tool" id="tool">
                            <option th:each="tool : ${tools}"
                                    th:value="${tool.id}"
                                    th:utext="${tool.name}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $('.custom-file-input').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>
</body>
</html>
